@model CRUD_MVC.Models.Cliente;

@{
    ViewData["Title"] = "Cliente";
    var clientes = ViewData["clientes"] as List<Cliente>;
}

<h1>Gerenciamento de Clientes</h1>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h2>Clientes Cadastrados</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Origem</th>
                        <th>Destino</th>
                        <th>Data de Ida</th>
                        <th>Data de Volta</th>
                        <th>Situação</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach(var cliente in clientes)
                        {
                            <tr>
                                <td>@cliente.Id</td>
                                <td>@cliente.Nome</td>
                                <td>@cliente.CPF</td>
                                <td>@cliente.Origem</td>
                                <td>@cliente.Destino</td>
                                <td>@cliente.DataIda</td>
                                <td>@cliente.DataVolta</td>
                                <td>@cliente.Situacao</td>
                                <td>
                                <form asp-controller="Cliente" asp-action="Deletar">
                                    <button class="btn btn-danger" type="submit">x deletar</button>
                                    <input asp-for="Id" style="visibility:hidden;" type="text" value="@cliente.Id">
                                </form>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <h2>Cadastrar</h2>
            <form asp-controller="Cliente" asp-action="Index">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="">Nome Completo</label>
                        <input asp-for="Nome" type="text" class="form-control" id="" placeholder="Monara Calado" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">CPF</label>
                        <input asp-for="CPF" type="text" class="form-control" id="" placeholder="00000000000" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Nascimento</label>
                        <input asp-for="Nascimento" type="date" class="form-control" id="" placeholder="" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Situação</label>
                        <select class="form-select" asp-for="Situacao">
                            <option selected>-- Selecione uma opção</option>
                            <option>Ativo</option>
                            <option>Inativo</option>
                            <option>Bloqueado</option>
                        </select>    
                    </div>
                    <button type="submit" class="btn alert-success">Incluir</button>
                </div>
            </form>
            <br />
            <hr />
            <br />
            <h2>Atualizar Dados</h2>
            <form asp-controller="Cliente" asp-action="Atualizar">

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="">Código do cliente</label>
                        <select class="form-select" asp-for="Id">
                            <option selected>-- Selecione um código</option>
                            @{
                                foreach (var cliente in clientes)
                                {
                                    <option>@cliente.Id</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Nome completo</label>
                        <input asp-for="Nome" type="text" class="form-control" id="" placeholder="Mark Zuck">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="">CPF</label>
                        <input asp-for="CPF" type="text" class="form-control" id="" placeholder="00000000000000">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="">Nascimento</label>
                        <input asp-for="Nascimento" type="date" class="form-control" id="">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="">Situação</label>
                        <select class="form-select" asp-for="Situacao">
                            <option selected>-- Selecione uma opção</option>
                            <option>Ativo</option>
                            <option>Inativo</option>
                            <option>Bloqueado</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Atualizar</button>
            </form>
        </div>
    </div>
</div>